.center{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: var(--dark-color);
    color:white;
}

a{
    text-decoration: none;
    color: inherit;  
}

.top{
    margin-top: 20px;
}